<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Not Valid Route</title>
</head>
<body>
  <div class="container">
    <div class="container my-4">
      <h3>Error <b>404</b> lo sentimos ingresaste a una ruta no valida</h3>
    </div>
    <img src="https://images.pexels.com/photos/235975/pexels-photo-235975.jpeg?cs=srgb&dl=pexels-pixabay-235975.jpg&fm=jpg" class="img-fluid rounded" alt="">
    <div class="container">
      <div class="row justify-content-center">
        <div class="d-flex flex-column justify-content-center">
          <p>Oprime el boton para regresar</p>
          <a href="/" class="btn bg-info mb-4 text-white font-weight-bold">Regresar</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>