:root {
  --primary: #00838f;
  --primary-b: #005662;
  --primary-l: #4fb3bf;
  --secondary: #ab47bc;
  --secondary-b: #790e8b;
  --secondary-l: #df78ef;
}


.nav-bar {
  padding: 1rem .8rem;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--main);
}

.main-container {
  display: grid;
  gap: 10px;
  grid-template-rows: auto;
}

.close-btn:hover {
  background-color: tomato;
}